<?php /**@var $block \Perspective\NovaposhtaShipping\Block\Adminhtml\Order\NovaposhtaDeliveryInfo */ ?>
<?php /* @var $escaper \Magento\Framework\Escaper */ ?>
<?php if ($block->getEnabled()): ?>
    <?php if ($block->getNovaposhtaCity() !== null && $block->getNovaposhtaWarehouse() !== null): ?>
        <section class="block block-order-details-view">
            <div class="block-title">
                <span class="title"><?= $escaper->escapeHtml(__('Novaposhta info')) ?></span>
            </div>
            <div class="block-content">
                <div class="box box-order-city">
                    <div class="box-title">
                        <span class="title"><?= $escaper->escapeHtml(__('City')) ?></span>
                    </div>
                    <?php if ($block->getNovaposhtaCity() !== null): ?>
                        <div class="box-content">
                            <?= $escaper->escapeHtml(__($block->getNovaposhtaCity())) ?>
                        </div>
                    <?php else: ?>
                        <div class="box-content">
                            <?= $escaper->escapeHtml(__('No city data found')) ?>
                        </div>
                    <?php endif; ?>
                </div>

                <div class="box box-order-warehouse">
                    <div class="box-title">
                        <span class="title"><?= $escaper->escapeHtml(__('Warehouse')) ?></span>
                    </div>
                    <?php if ($block->getNovaposhtaWarehouse() !== null): ?>
                        <div class="box-content">
                            <?= $escaper->escapeHtml($block->getNovaposhtaWarehouse()) ?>
                        </div>
                    <?php else: ?>
                        <div class="box-content">
                            <?= $escaper->escapeHtml(__('No warehouse data found')) ?>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </section>
    <?php endif ?>
<?php endif ?>
