<?php /* @var $escaper \Magento\Framework\Escaper */ ?>
<?php /** @var \Perspective\NovaposhtaShipping\Block\Adminhtml\Order\Create\AutocompleteScripts $block */ ?>
<script>
    require([
        'jquery',
        'ko',
        "prototype"
    ], function () {

        <?php /**
     * Максимально мягко вклиниваемся в форму адреса
     */?>

    });
</script>
<script type="text/x-magento-init">
{
"*":{
     "Magento_Ui/js/core/app":{
        "components":{
            "cityInputAutocompleteShipping":{
                "component": "Perspective_NovaposhtaShipping/js/order/create/city",
                "cityBackendUrl":"<?= $block->getRestUrl('rest/V1/novaposhtashipping/city') ?>"
                },
            "cityInputAutocompleteBilling":{
                "component": "Perspective_NovaposhtaShipping/js/order/create/city",
                "cityBackendUrl":"<?= $block->getRestUrl('rest/V1/novaposhtashipping/city') ?>"
                }
            }
        }
    }
}
</script>
